[Desktop Entry]
Type=Application
Name=First NC Viewer
Comment=First NC Viewer Cross-Platform
Exec=fncviewer %F
Icon=fncviewer
Terminal=false
Categories=Utility;Development;
StartupWMClass=fncviewer
MimeType=application/x-fncviewer-nc;application/x-fncviewer-anc;
