[Desktop Entry]
Type=Application
Name=FNCViewer
Comment=FNCViewer Cross-Platform
Exec=fncviewer %F
Icon=fncviewer
Terminal=false
Categories=Utility;Development;
StartupWMClass=fncviewer
MimeType=application/x-fncviewer-nc;application/x-fncviewer-anc;
